In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("dataset/dataset_covid.csv")
dataset

,Date,country,province,Confirmed,Recovered,Deaths
0,2020-01-22,Australia,Australian Capital Territory,0,0.0,0
1,2020-01-23,Australia,Australian Capital Territory,0,0.0,0
2,2020-01-24,Australia,Australian Capital Territory,0,0.0,0
3,2020-01-25,Australia,Australian Capital Territory,0,0.0,0
4,2020-01-26,Australia,Australian Capital Territory,0,0.0,0
...,...,...,...,...,...,...
59563,2022-04-12,United Kingdom,Turks and Caicos Islands,5923,0.0,36
59564,2022-04-13,United Kingdom,Turks and Caicos Islands,5936,0.0,36
59565,2022-04-14,United Kingdom,Turks and Caicos Islands,5936,0.0,36
59566,2022-04-15,United Kingdom,Turks and Caicos Islands,5936,0.0,36
59567,2022-04-16,United Kingdom,Turks and Caicos Islands,5936,0.0,36

In [3]:
dataset.dropna(inplace=True)

In [4]:
dataset

,Date,country,province,Confirmed,Recovered,Deaths
0,2020-01-22,Australia,Australian Capital Territory,0,0.0,0
1,2020-01-23,Australia,Australian Capital Territory,0,0.0,0
2,2020-01-24,Australia,Australian Capital Territory,0,0.0,0
3,2020-01-25,Australia,Australian Capital Territory,0,0.0,0
4,2020-01-26,Australia,Australian Capital Territory,0,0.0,0
...,...,...,...,...,...,...
59563,2022-04-12,United Kingdom,Turks and Caicos Islands,5923,0.0,36
59564,2022-04-13,United Kingdom,Turks and Caicos Islands,5936,0.0,36
59565,2022-04-14,United Kingdom,Turks and Caicos Islands,5936,0.0,36
59566,2022-04-15,United Kingdom,Turks and Caicos Islands,5936,0.0,36
59567,2022-04-16,United Kingdom,Turks and Caicos Islands,5936,0.0,36

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59568 entries, 0 to 59567
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       59568 non-null  object
 1   country    59568 non-null  object
 2   province   59568 non-null  object
 3   Confirmed  59568 non-null  int64
 4   Recovered  59568 non-null  float64
 5   Deaths     59568 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.7+ MB

In [6]:
dataset.to_csv("dataset_covid.csv", index=False)

In [7]:
dataset["country"].unique()

array(['Australia', 'China', 'Denmark', 'France', 'Netherlands',
       'New Zealand', 'United Kingdom'], dtype=object)

In [8]:
dataset.Date = pd.to_datetime(dataset.Date, format="%Y-%m-%d")

In [9]:
data_aus = dataset.query("country == 'Australia'")

In [10]:
data_aus.province.unique()

array(['Australian Capital Territory', 'New South Wales',
       'Northern Territory', 'Queensland', 'South Australia', 'Tasmania',
       'Victoria', 'Western Australia'], dtype=object)

In [11]:
data_ch = dataset.query("country == 'China'")

In [12]:
data_ch.province.unique()

array(['Anhui', 'Beijing', 'Chongqing', 'Fujian', 'Gansu', 'Guangdong',
       'Guangxi', 'Guizhou', 'Hainan', 'Hebei', 'Heilongjiang', 'Henan',
       'Hong Kong', 'Hubei', 'Hunan', 'Inner Mongolia', 'Jiangsu',
       'Jiangxi', 'Jilin', 'Liaoning', 'Macau', 'Ningxia', 'Qinghai',
       'Shaanxi', 'Shandong', 'Shanghai', 'Shanxi', 'Sichuan', 'Tianjin',
       'Tibet', 'Unknown', 'Xinjiang', 'Yunnan', 'Zhejiang'], dtype=object)

In [13]:
data_den = dataset.query("country == 'Denmark'")

In [14]:
data_den.province.unique()

array(['Faroe Islands', 'Greenland'], dtype=object)

In [15]:
data_fr = dataset.query("country == 'France'")

In [16]:
data_fr.province.unique()

array(['French Guiana', 'French Polynesia', 'Guadeloupe', 'Martinique',
       'Mayotte', 'New Caledonia', 'Reunion', 'Saint Barthelemy',
       'Saint Pierre and Miquelon', 'St Martin', 'Wallis and Futuna'],
      dtype=object)

In [17]:
data_net = dataset.query("country == 'Netherlands'")

In [18]:
data_net.province.unique()

array(['Aruba', 'Bonaire, Sint Eustatius and Saba', 'Curacao',
       'Sint Maarten'], dtype=object)

In [19]:
data_nz = dataset.query("country == 'New Zealand'")

In [20]:
data_nz.province.unique()

array(['Cook Islands'], dtype=object)

In [21]:
data_uk = dataset.query("country == 'United Kingdom'")

In [22]:
data_uk.province.unique()

array(['Anguilla', 'Bermuda', 'British Virgin Islands', 'Cayman Islands',
       'Channel Islands', 'Falkland Islands (Malvinas)', 'Gibraltar',
       'Guernsey', 'Isle of Man', 'Jersey', 'Montserrat',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Turks and Caicos Islands'], dtype=object)

In [23]:
data_uk.shape

(10608, 6)

In [24]:
data_uk.groupby("province").country.count()

province
Anguilla                                        816
Bermuda                                         816
British Virgin Islands                          816
Cayman Islands                                  816
Channel Islands                                 816
Falkland Islands (Malvinas)                     816
Gibraltar                                       816
Guernsey                                        816
Isle of Man                                     816
Jersey                                          816
Montserrat                                      816
Saint Helena, Ascension and Tristan da Cunha    816
Turks and Caicos Islands                        816
Name: country, dtype: int64

In [25]:
len(dataset.query("province == 'Unknown'"))

816

In [26]:
dataset = dataset.drop(dataset[dataset['province'] == 'Unknown'].index)

In [27]:
data_ch.province.unique()

array(['Anhui', 'Beijing', 'Chongqing', 'Fujian', 'Gansu', 'Guangdong',
       'Guangxi', 'Guizhou', 'Hainan', 'Hebei', 'Heilongjiang', 'Henan',
       'Hong Kong', 'Hubei', 'Hunan', 'Inner Mongolia', 'Jiangsu',
       'Jiangxi', 'Jilin', 'Liaoning', 'Macau', 'Ningxia', 'Qinghai',
       'Shaanxi', 'Shandong', 'Shanghai', 'Shanxi', 'Sichuan', 'Tianjin',
       'Tibet', 'Unknown', 'Xinjiang', 'Yunnan', 'Zhejiang'], dtype=object)

In [28]:
data_ch.shape

(27744, 6)

In [29]:
data_ch.groupby("province").country.count()

province
Anhui             816
Beijing           816
Chongqing         816
Fujian            816
Gansu             816
Guangdong         816
Guangxi           816
Guizhou           816
Hainan            816
Hebei             816
Heilongjiang      816
Henan             816
Hong Kong         816
Hubei             816
Hunan             816
Inner Mongolia    816
Jiangsu           816
Jiangxi           816
Jilin             816
Liaoning          816
Macau             816
Ningxia           816
Qinghai           816
Shaanxi           816
Shandong          816
Shanghai          816
Shanxi            816
Sichuan           816
Tianjin           816
Tibet             816
Unknown           816
Xinjiang          816
Yunnan            816
Zhejiang          816
Name: country, dtype: int64

In [30]:
data_ch.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27744 entries, 6528 to 34271
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       27744 non-null  datetime64[ns]
 1   country    27744 non-null  object
 2   province   27744 non-null  object
 3   Confirmed  27744 non-null  int64
 4   Recovered  27744 non-null  float64
 5   Deaths     27744 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 1.5+ MB

In [31]:
data_ch.Date.min()

Timestamp('2020-01-22 00:00:00')

In [32]:
data_ch.Date.max()

Timestamp('2022-04-16 00:00:00')

In [33]:
len(dataset.query("province == 'Unknown'"))

0

In [34]:
dataset.reset_index()

,index,Date,country,province,Confirmed,Recovered,Deaths
0,0,2020-01-22,Australia,Australian Capital Territory,0,0.0,0
1,1,2020-01-23,Australia,Australian Capital Territory,0,0.0,0
2,2,2020-01-24,Australia,Australian Capital Territory,0,0.0,0
3,3,2020-01-25,Australia,Australian Capital Territory,0,0.0,0
4,4,2020-01-26,Australia,Australian Capital Territory,0,0.0,0
...,...,...,...,...,...,...,...
58747,59563,2022-04-12,United Kingdom,Turks and Caicos Islands,5923,0.0,36
58748,59564,2022-04-13,United Kingdom,Turks and Caicos Islands,5936,0.0,36
58749,59565,2022-04-14,United Kingdom,Turks and Caicos Islands,5936,0.0,36
58750,59566,2022-04-15,United Kingdom,Turks and Caicos Islands,5936,0.0,36
58751,59567,2022-04-16,United Kingdom,Turks and Caicos Islands,5936,0.0,36

In [35]:
dataset.to_csv("dataset/dataset.csv", index=False)